<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ThreadCount" value="1" />
        <add key="SleepTime.Work[ms]" value="200" />
        <add key="SleepTime.NoWork[ms]" value="500" />
    </appSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>